[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
pyvirtualcam = "*"
numpy = "*"
mediapipe = "*"
torch = "*"
torchvision = "*"
onnxruntime-gpu = "*"

[dev-packages]

[requires]
